<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{general/fragmentos :: head}">
        <meta charset="UTF-8"/>
        <title>Siamese</title>
    </head>
    <body>
        <div th:replace="~{general/fragmentos :: header}"/>
        <header th:fragment="header" class="header">
            <div class="app-wrapper">
                <aside class="sidebar">

                    <div class="sidebar-section" style="margin-top: 0.4rem;">

                        <h1 class="menu-titleCitas">Citas</h1>
                        <ul class="menu-listCitas">
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_VETERINARIO','ROLE_CLIENTE')">
                            <a href="/crearCita" class="btn-citas">Crear Cita</a></li>
                            
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_VETERINARIO','ROLE_CLIENTE')">
                            <a href="/cancelarCita" class="btn-citas">Cancelar Cita</a></li>
                            
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_VETERINARIO','ROLE_CLIENTE')">
                            <a href="/index" class="btn-citas">Regresar</a></li>
                            
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_VETERINARIO')">
                            <a href="/consultarCita" class="btn-citas">Consultar Cita</a></li>
                        </ul>
                    </div>
                </aside>

                <div class="main-content">
                    <header class="topbar">
                        <a href="/perfil">
                            <img src="/img/usuario.png" alt="" width="35"/>
                        </a>
                    </header>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Mascota</th>
                                <th>Dueño</th>
                                <th>Motivo</th>
                                <th>Estado</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="c: ${citas}">
                                <td th:text="${c.idCita}"></td>
                                <td th:text="${c.mascota.nombre}"></td>
                                <td th:text="${c.usuario.nombre}"></td>
                                <td th:text="${c.motivo}"></td>
                                <td th:text="${c.estado}"></td>
                                <td th:text="${c.fecha}"></td>
                                <td>
                                    <form th:action="@{/eliminarCitaConsultas}" method="post">
                                        <input type="hidden" name="id" th:value="${c.idCita}"/>
                                            <button type="submit" class="btn-danger">
                                                Eliminar
                                            </button>
                                    </form>
                                </td>    
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </header>
        <footer style="margin-top: auto; padding-top: 2rem;
                font-size: 0.8rem; color: var(--color-text-muted); text-align: center;">
            Todos los Derechos Reservados &copy; Veterinaria
        </footer>
    </body>
</html>
