<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Veterinaria Siamese Cal</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <div class="app-wrapper">
                <aside class="sidebar">

                    <div class="sidebar-section" style="margin-top: 0.4rem;">

                        <h1 class="menu-titleCitas">Citas</h1>
                        <ul class="menu-listCitas">
                            <li><a href="/crearCita" class="btn-citas">Crear cita</a></li>
                            <li><a href="/cancelarCita" class="btn-citas">Cancelar Cita</a></li>
                            <li><a href="/index" class="btn-citas">Regresar</a></li>
                            <li><a href="/consultarCita" class="btn-citas">Consultar Cita</a></li>
                        </ul>
                    </div>
                </aside>

                <div class="main-content">
                    <header class="topbar">
                        <a href="/perfil">
                            <img src="/img/usuario.png" alt="" width="35"/>
                        </a>
                    </header>
                    <form th:action="@{/guardar}" th:object="${cita}" method="post">
                        <div class="input-crear">
                            <div>
                                <label>Nombre de la mascota</label>
                                <input type="text" 
                                       class="form-control"
                                       th:field="*{nombreCita}"
                                       required="true"/>
                            </div>
                            <div>
                                <label>Razon de la cita</label>
                                <input type="text" 
                                       class="form-control" 
                                       th:field="*{razon}" 
                                       required="true"/>
                            </div>
                            <div>
                                <label>Fecha de la cita</label>
                                <input type="date"
                                       class='form-control' 
                                       th:field="*{fecha}"/>

                            </div>
                            <div>
                                <label>Hora de la cita</label>
                                <input type="time" 
                                       class='form-control' 
                                       th:field="*{horaCita}" />
                            </div>
                            <button type='submit' class="btn-guardar"> Guardar </button></div>
                    </form> 
                </div>
            </div>
        </header>
        <footer style="margin-top: auto; padding-top: 2rem;
                font-size: 0.8rem; color: var(--color-text-muted); text-align: center;">
            Todos los Derechos Reservados &copy; Veterinaria
        </footer>
    </body>
</html>
