<!DOCTYPE html>
<html>
    <head>
        <title>Veterinaria Siamese Cal</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="app-wrapper">
            <aside class="sidebar">

                <div class="sidebar-section" style="margin-top: 3.5rem;">
                    
                    <h1 class="menu-titleCitas">Citas</h1>
                    <ul class="menu-listCitas">
                        <li><a href="/crearCita" class="btn-citas">Crear Cita</a></li>
                        <li><a href="/consultar" class="btn-citas">Consultar Cita</a></li>
                        <li><a href="/cancelar" class="btn-citas">Cancelar Cita</a></li>
                    </ul>
                </div>

            </aside>
            <div class="main-content">
                <header class="topbar">
                    <a href="/perfil" class="topbar-user">
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="7" r="4"/>
                        <path d="M4 21c0-4 3.6-7 8-7s8 3 8 7"/>
                        </svg>
                    </a>
                </header>
                <div class="contact-card">
                    <div class="contact-icon">
                        <img src="/img/mensaje.png" alt="" class="img-mensaje"/>
                    </div>
                    <div class="contact-info">
                        <p><strong>+506 0000-0000</strong><br>Teléfono de emergencias</p>
                        <p><strong>+506 0000-0000</strong><br>Solicite su cita</p>
                    </div>
                </div>

                <img src="/img/perroCitas.png" alt="" class="img-citas"/>
            </div>
        </div>

    </body>
</html>
