<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{general/fragmentos :: head}">
        <meta charset="UTF-8"/>
        <title>Siamese</title>
    </head>
    <body>
        <div th:replace="~{general/fragmentos :: header}"/>
        <header th:fragment="header" class="header">
            <div class="app-wrapper">
                <aside class="sidebar">

                    <div class="sidebar-section" style="margin-top: 0.4rem;">

                        <h1 class="menu-titleCitas">Citas</h1>
                        <ul class="menu-listCitas">
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_VETERINARIO','ROLE_CLIENTE')">
                            <a href="/crearCita" class="btn-citas">Crear Cita</a></li>
                            
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_VETERINARIO','ROLE_CLIENTE')">
                            <a href="/cancelarCita" class="btn-citas">Cancelar Cita</a></li>
                            
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_VETERINARIO','ROLE_CLIENTE')">
                            <a href="/index" class="btn-citas">Regresar</a></li>
                            
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_VETERINARIO')">
                            <a href="/consultarCita" class="btn-citas">Consultar Cita</a></li>
                        </ul>
                    </div>
                </aside>

                <div class="main-content">
                    <header class="topbar">
                        <a href="/perfil">
                            <img src="/img/usuario.png" alt="" width="35"/>
                        </a>
                    </header>
                    <div class="contact-card">
                        <div class="contact-icon">
                            <img src="/img/mensaje.png" alt="" class="img-mensaje"/>
                        </div>
                        <div class="contact-info">
                            <p><strong>+506 0000-0000</strong><br>Teléfono de emergencias</p>
                            <p><strong>+506 0000-0000</strong><br>Solicite su cita</p>
                        </div>
                    </div>
                    

                    <img src="/img/perroCitas.png" alt="" class="img-citas"/>
                    <footer style="margin-top: auto; padding-top: 2rem;
                            font-size: 0.8rem; color: var(--color-text-muted); text-align: center;">
                        Todos los Derechos Reservados &copy; Veterinaria
                    </footer>
                    </body>
                </div>
            </div>
        </header>
</html>
