<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Modificar Producto - Veterinaria</title>
<link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="app-wrapper">

    <aside class="sidebar">
       
        <div class="sidebar-pet-image">
            <img src="/img/calicogato.png" alt="gato"/>
        </div>
    </aside>

    <div class="main-content">
        <header class="topbar">
            <a href="/perfil">
                <img src="/img/usuario.png" alt="usuario" width="35"/>
            </a>
        </header>

        <h1 class="page-title">Modificar Producto</h1>

        <section th:replace="~{producto/fragmentos :: editar}"/>
    </div>

</div>
</body>
</html>
