<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Veterinaria Siamese Cal</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>   

    <body>
        <header th:fragment="header" class="header">
            <div class="app-wrapper">
                <aside class="sidebar">

                    <div class="logo">
                        <img src="/img/veterianaria.png" alt="" width="35"/>
                    </div>

                    <div class="sidebar-section">

                        <ul class="menu-listCitas">
                            <li><a href="/listadoMascotas" class="btn-citas">Lista de mascotas</a></li>
                            <li><a href="/registroMascotas" class="btn-citas">Agregar mascotas</a></li>
                            <li><a href="/index" class="btn-citas">Regresar</a></li>
                            <li><a href="/eliminarMascotas" class="btn-citas">Eliminar mascotas</a></li>
                        </ul>
                    </div>

                </aside>
                <div class="main-content">
                    <header class="topbar">
                        <a href="/perfil">
                            <img src="/img/usuario.png" alt="" width="35"/>
                        </a>
                    </header>

                    <form action="@{/eliminarMascota}" method="post">
                        <div class="input-citas">
                            <label> Escriba el id de la mascota a cancelar </label> 
                            <input type="number" name="id" class="form-control" required="true"/>
                            <button type="submit" class="btn-guardar">Eliminar mascota</button>
                        </div>
                    </form>
                </div>
            </div>
        </header>
        <footer style="margin-top: auto; padding-top: 2rem;
                font-size: 0.8rem; color: var(--color-text-muted); text-align: center;">
            Todos los Derechos Reservados &copy; Veterinaria
        </footer>
    </body>
</html>

