<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:fragment="head">
        <meta charset="UTF-8"/>
        <title>Siamese</title>
        <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png"/>

        <link th:href="@{/webjars/font-awesome/6.5.1/css/all.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet"/>

        <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
        <script th:src="@{/js/rutinas.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
    </head>
    <body>
        <section th:fragment="botones">
            <div class="app-wrapper">
                <aside class="sidebar">

                    <div class="sidebar-section" style="margin-top: 0.4rem;">

                        <h1 class="menu-titleCitas">Citas</h1>
                        <ul class="menu-listCitas">
                            <li><a href="/crearCita" class="btn-citas">Lista de mascotas</a></li>
                            <li><a href="/cancelarCita" class="btn-citas">Selector de dueño</a></li>
                            <li><a href="/index" class="btn-citas">Agregar Mascotas</a></li>
                            <li><a href="/consultarCita" class="btn-citas">Editar/eliminar mascotas</a></li>
                        </ul>
                    </div>
                </aside>

                <div class="main-content">
                    <header class="topbar">
                        <a href="/perfil">
                            <img src="/img/usuario.png" alt="" width="35"/>
                        </a>
                    </header>
                    <div class="contact-card">
                        <div class="contact-icon">
                            <img src="/img/mensaje.png" alt="" class="img-mensaje"/>
                        </div>
                        
                    </div>

                    <img src="/img/perroCitas.png" alt="" class="img-citas"/>
                    </body>
                </div>
            </div>
        </section>
    </body>
</html>
