<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
  <head>
    <title>Veterinaria Siamese Cal</title>
    <meta charset="UTF-8"/>
    <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
  </head>
  
  <body>
    <!-- Menú lateral -->
    <div class="sidebar">
        
        <header class="topbar">
         <a href="/perfil">
    <img src="/img/veterinaria.jpg" alt="" width="35"/>
  </a>
</header>
       
    </div>

    <!-- Contenido principal -->
    <div class="main">
        <div class="section">
            
            <img src="Paseo_mascota.png">
        </div>
        <div class="section">
            <img src="mascotas.png">
        </div>
    </div>
    <section>
          <h1 class="menu-title">Opciones</h1>

          <ul class="menu-list">
            <li><a href="/Lista de mascotas">Lista de mascotas</a></li>
            <li><a href="/Selector de dueño">Selector de dueño</a></li>
            <li><a href="/Agregar/registrar mascotas">Agregar/registrar mascotas</a></li>
            <li><a href="/Editar / Eliminar mascotas">Editar / Eliminar mascotas</a></li>
          </ul>
        </section>
            
    <footer style="margin-top: auto; padding-top: 2rem;
                       font-size: 0.8rem; color: var(--color-text-muted); text-align: center;">
          Todos los Derechos Reservados &copy; Veterinaria
        </footer>

</body>

</html>