<!DOCTYPE html>
<html>
  <head>
    <title>Veterinaria Siamese Cal</title>
    <meta charset="UTF-8"/>
    <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
  </head>    


<body>

<div class="contenedor">
    <div class="fila">
        <div class="columna">
            <label>Nombre</label>
            <input type="text">

            <label>Raza</label>
            <input type="text">

            <label>Edad</label>
            <input type="number">
        </div>

        <div class="columna">
            <label>Descripción</label>
            <textarea></textarea>
        </div>
    </div>

    <div class="boton-contenedor">
        <button class="btn btn-success btn-sm" type="submit" name="Agregar">
                            <i class='fas fa-save'></i> [[#{accion.guardar}]]
        </button>
    </div>
    
</div>

</body>

  
    <footer style="margin-top: auto; padding-top: 2rem;
                       font-size: 0.8rem; color: var(--color-text-muted); text-align: center;">
          Todos los Derechos Reservados &copy; Veterinaria
        </footer>

</body>

</html>