<!DOCTYPE html>
<html>
  <head>
    <title>Veterinaria Siamese Cal</title>
    <meta charset="UTF-8"/>
    <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>

    <div class="app-wrapper">

      <aside class="sidebar">

        <div class="sidebar-section" style="margin-top: 3.5rem;">
          <h2>Misión</h2>
          <p>Brindar atención veterinaria integral y de calidad, enfocada en el bienestar,
             la salud y el cuidado responsable de las mascotas, a través de un servicio
             profesional, ético y humano.</p>
        </div>

        <div class="sidebar-section">
          <h2>Visión</h2>
          <p>Ser una veterinaria reconocida por su excelencia en el cuidado animal,
             innovación en servicios veterinarios y compromiso con la comunidad.</p>
        </div>

          <img src="/img/calicogato.png" alt=""/>
        

      </aside>

      
      <div class="main-content">

     
        <header class="topbar">
         <a href="/perfil">
    <img src="/img/usuario.png" alt="" width="35"/>
  </a>
</header>

    
        <section>
          <h1 class="menu-title">Menú</h1>

          <ul class="menu-list">
            <li><a href="/mascotas">mascotas</a></li>
            <li><a href="/citas">Citas</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/compras">Compras</a></li>
          </ul>
        </section>

        <footer style="margin-top: auto; padding-top: 2rem;
                       font-size: 0.8rem; color: var(--color-text-muted); text-align: center;">
          Todos los Derechos Reservados &copy; Veterinaria
        </footer>

      </div>

    </div>

  </body>
</html>